body {
  background-image: url("http://i.imgur.com/FvvsGoQ.jpg");
  background-size: cover;
  color:white;
  font-family: 'VT323', monospace;
  text-align: center;
  font-size: 40px;
  color: purple;
  font-style: italic;
}
.colors {
  border: 2px solid white;
  margin: 0;
  height: 25em;
  width: 25em;
  padding: 0;
  margin: 0;

}



#red{
  background-color:#990000;
  border-top-left-radius: 140px;
  border-bottom-right-radius: 140px;
}

#green{
  background-color:#004d00;
  border-top-right-radius: 140px;
  border-bottom-left-radius: 140px;
}

#blue{
  background-color:#000099;
  border-bottom-left-radius: 140px;
  border-top-right-radius: 140px;
}
#yellow{
  background-color:#cccc00;
  border-bottom-right-radius: 140px;
  border-top-left-radius: 140px;
}

#red:active {
  background-color: red;
}
#green:active {
  background-color: green;
}
#blue:active {
  background-color: blue;
}
#yellow:active {
  background-color: yellow;
}
