* {
  background-color:black;
  color:white;
  font-family: futura;
  text-align: center;
}
.colors {
  border: 2px solid white;
  margin: 20px;
  height: 25em;
  width: 25em;
}

div {
  padding: 5px;
}

#red{
  background-color:#990000;
  border-top-left-radius: 40px;
}

#green{
  background-color:#004d00;
  border-top-right-radius: 40px;
}

#blue{
  background-color:#000099;
  border-bottom-left-radius: 40px;
}
#yellow{
  background-color:#cccc00;
  border-bottom-right-radius: 40px;
}
